In [1]:
# Importing libraries to use
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
# !pip install seaborn
import seaborn as sb
# !pip install statsmodels
import statsmodels.api as sm
# !pip install sklearn
from sklearn.preprocessing import LabelEncoder
from sklearn.linear_model import LogisticRegression

In [2]:
# LOADING TITANIC DATASETS
titanicTrain = pd.read_csv('train.csv')
titanicTest = pd.read_csv('test.csv')
titanicTest

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...
413,1305,3,"Spector, Mr. Woolf",male,NaN,0,0,A.5. 3236,8.0500,NaN,S
414,1306,1,"Oliva y Ocana, Dona. Fermina",female,39.0,0,0,PC 17758,108.9000,C105,C
415,1307,3,"Saether, Mr. Simon Sivertsen",male,38.5,0,0,SOTON/O.Q. 3101262,7.2500,NaN,S
416,1308,3,"Ware, Mr. Frederick",male,NaN,0,0,359309,8.0500,NaN,S
417,1309,3,"Peter, Master. Michael J",male,NaN,1,1,2668,22.3583,NaN,C

In [4]:
# FILLING NAN VALUES WITH THE MEAN FOR AGE - TRAINING DATA
meanAge = titanicTrain['Age'].mean()                       # CALCULATING THE MEAN AGE
titanicTrainNoNaN = titanicTrain.fillna(meanAge)           # FILLING NAN VALUES - BCZ ONLY AGE COLUMN HAS NANS - USE THE WHOLE DATASET


# FILLING NAN VALUES WITH THE MEAN FOR AGE - TESTING DATA
meanAge = titanicTest['Age'].mean()                        # CALCULATING THE MEAN AGE
titanicTestNoNaN = titanicTest.fillna(meanAge)             # FILLING NAN VALUES - BCZ ONLY AGE COLUMN HAS NANS - USE THE WHOLE DATASET

# Fit label encoder and return encoded labels: MAKING females:0 and males:1
titanicTrainNoNaN['Sex'] = LabelEncoder().fit_transform(titanicTrainNoNaN['Sex'])
titanicTestNoNaN['Sex'] = LabelEncoder().fit_transform(titanicTestNoNaN['Sex'])

In [8]:
xTrain = titanicTrainNoNaN[['Pclass', 'Sex', 'Age']]
xTrainConstant = sm.add_constant(xTrain)

yTrain = titanicTrainNoNaN['Survived']

xTest = titanicTestNoNaN[['Pclass', 'Sex', 'Age']]
xTestConstant = sm.add_constant(xTest)

In [9]:
# Building a linear regression model
regr = LinearRegression()

# Fitting the model (Training)
regr.fit(xTrainConstant, yTrain)

# Make predictions
prdTestY = regr.predict(xTestConstant)

mape = 100 - (mean_absolute_percentage_error(yTrain, prdTestY) * 100)
print('The MAPE accuracy using BIC is', mape, '%')

ValueError: Found input variables with inconsistent numbers of samples: [891, 418]

In [150]:
toSubmit = titanicTestNoNaNExtr[['PassengerId']]

toSubmit.insert(loc=1,
          column='Survived',
          value=prdTestY)
toSubmit

     PassengerId  Survived
0            892  0.055886
1            893  0.492113
2            894  0.103181
3            895  0.093500
4            896  0.617494
..           ...       ...
413         1305  0.077087
414         1306  0.902665
415         1307  0.035825
416         1308  0.077087
417         1309  0.077087

[418 rows x 2 columns]

In [151]:
from pathlib import Path
filepath = Path('submit/toSubmit.csv')
filepath.parent.mkdir(parents = True, exist_ok = True)  
toSubmit.to_csv(filepath, index = False)

In [152]:
# LOGISTIC REGRESSION
# BUILDING A LOGISTIC REGRESSION MODEL
logisticModel = LogisticRegression().fit(xTrainConstant, yTrain)

predLog = logisticModel.predict(xTestConstant)           # ASKING THE MODEL FOR PREDICTIONS OF SURVIVAL

In [153]:
filepathLog = Path('submitLog/toSubmit.csv')
filepathLog.parent.mkdir(parents = True, exist_ok = True)  
toSubmit.to_csv(filepathLog, index = False)